<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opus.auth.mapper.AuthMapper">

    <select id="selectAuthByUsername" resultType="com.opus.auth.domain.AuthVO">
        select member_id, username, password, nickname, email
        from member
        where username = #{username}
    </select>

</mapper>