<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opus.comment.mapper.CommentMapper">

    <insert id="insertComment">
        INSERT INTO comment (pin_id, member_id, top_level_comment_id, level, content, parent_nickname)
        values (#{pinId}, #{memberId}, #{topLevelCommentId}, #{level}, #{content}, #{parentNickname})
    </insert>

    <select id="selectCommentsByPinId" resultMap="commentList">
        SELECT comment_id, comment.pin_id, member.nickname, top_level_comment_id, level, content, created_at, updated_at, parent_nickname
        FROM comment
        INNER JOIN member ON comment.member_id = member.member_id
        WHERE comment.pin_id = #{pinId} and comment.is_deleted = 0
        ORDER BY comment_id ASC, level ASC
    </select>
    
    <select id="selectCommentsByMemberId" resultMap="commentList">
        SELECT comment_id, comment.pin_id, member.nickname, top_level_comment_id, level, content, created_at, updated_at, parent_nickname
        FROM comment
        INNER JOIN member ON comment.member_id = member.member_id
        WHERE comment.member_id = #{memberId} and comment.is_deleted = 0
        ORDER BY comment_id ASC, level ASC
    </select>

    <select id="selectCommentByCommentId" resultMap="commentList">
        SELECT comment_id, comment.pin_id, member.nickname, top_level_comment_id, level, content, created_at, updated_at, parent_nickname
        FROM comment
        INNER JOIN member ON comment.member_id = member.member_id
        WHERE comment_id = #{commentId} and comment.is_deleted = 0
    </select>

    <select id="countChildCommentsByCommentId" resultType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE top_level_comment_id = #{commentId} and comment.is_deleted = 0
    </select>

    <update id="updateComment">
        UPDATE comment
        SET content = #{content}, updated_at = now()
        WHERE comment_id = #{commentId} AND comment.member_id = #{memberId}
    </update>

    <delete id="deleteComment">
        DELETE
        FROM comment
        WHERE comment_id = #{commentId} AND comment.member_id = #{memberId}
    </delete>

    <resultMap id="commentList" type="com.opus.comment.domain.CommentVO">
        <id property="commentId" column="comment_id"/>
        <result property="pinId" column="pin_id"/>
        <result property="memberNickname" column="nickname"/>
        <result property="topLevelCommentId" column="top_level_comment_id"/>
        <result property="level" column="level"/>
        <result property="content" column="content"/>
        <result property="createdDate" column="created_at"/>
        <result property="updatedDate" column="updated_at"/>
        <result property="parentNickname" column="parent_nickname"/>
    </resultMap>

</mapper>