<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opus.comment.mapper.CommentMapper">

    <insert id="insertComment">
        INSERT INTO comment (p_id, m_id, top_level_comment_id, level, content, parent_nick)
        values (#{pinId}, #{memberId}, #{topLevelCommentId}, #{level}, #{content}, #{parentNickname})
    </insert>

    <select id="selectCommentsByPinId" resultMap="commentList">
        SELECT c_id, comment.p_id, member.nick, top_level_comment_id, level, content, created_at, updated_at, parent_nick
        FROM comment
        INNER JOIN member ON comment.m_id = member.m_id
        WHERE comment.p_id = #{pinId}
        ORDER BY c_id ASC, level ASC
    </select>
    
    <select id="selectCommentsByMemberId" resultMap="commentList">
        SELECT c_id, comment.p_id, member.nick, top_level_comment_id, level, content, created_at, updated_at, parent_nick
        FROM comment
        INNER JOIN member ON comment.m_id = member.m_id
        WHERE comment.m_id = #{memberId}
        ORDER BY c_id ASC, level ASC
    </select>

    <update id="updateComment">
        UPDATE comment
        SET content = #{content}, updated_at = now()
        WHERE c_id = #{commentId} AND comment.m_id = #{memberId}
    </update>

    <delete id="deleteComment">
        DELETE
        FROM comment
        WHERE c_id = #{commentId} AND comment.m_id = #{memberId}
    </delete>

    <resultMap id="commentList" type="com.opus.comment.domain.CommentVO">
        <id property="commentId" column="c_id"/>
        <result property="pinId" column="p_id"/>
        <result property="memberNickname" column="nick"/>
        <result property="topLevelCommentId" column="top_level_comment_id"/>
        <result property="level" column="level"/>
        <result property="content" column="content"/>
        <result property="createdDate" column="created_at"/>
        <result property="updatedDate" column="updated_at"/>
        <result property="parentNickname" column="parent_nick"/>
    </resultMap>

</mapper>