<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opus.feature.like.mapper.LikeMapper">

    <insert id="insertPinLike">
        insert into pin_likes(member_id, pin_id)
        values (#{memberId}, #{id})
    </insert>

    <insert id="insertCommentLike">
        insert into comment_likes(member_id, comment_id)
        values (#{memberId}, #{id})
    </insert>

    <select id="countPinLike" resultType="int">
        select count(*)
        from pin_likes
        where pin_id = #{id}
    </select>

    <select id="countCommentLike" resultType="int">
        select count(*)
        from comment_likes
        where comment_id = #{id}
    </select>

    <select id="countPinLikeByMemberId" resultType="int">
        select count(*)
        from pin_likes
        where pin_likes.member_id = #{memberId}
          and pin_id = #{pinId}
    </select>

    <select id="countCommentLikeByMemberId" resultType="int">
        select count(*)
        from comment_likes
        where comment_likes.member_id = #{memberId}
          and comment_id = #{commentId}
    </select>

    <delete id="deletePinLike">
        delete
        from pin_likes
        where pin_likes.member_id = #{memberId}
          and pin_id = #{pinId}
    </delete>

    <delete id="deleteCommentLike">
        delete
        from comment_likes
        where comment_likes.member_id = #{memberId}
          and comment_id = #{commentId}
    </delete>

</mapper>