<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opus.feature.member.mapper.MemberMapper">

    <insert id="insertMember">
        insert into member (username, password, nickname, email)
        values (#{username}, #{password}, #{nickname}, #{email})
    </insert>

    <select id="selectCountByUsername" resultType="int">
        select count(*)
        from member
        where username = #{username}
    </select>

    <select id="selectCountByNickname" resultType="int">
        select count(*)
        from member
        where nickname = #{nickname}
    </select>

    <select id="selectCountByEmail" resultType="int">
        select count(*)
        from member
        where email = #{email}
    </select>

    <select id="selectMemberByMemberId" resultType="com.opus.feature.member.domain.MemberVO">
        select member.member_id, username, password, nickname, email
        from member
        where member.member_id = #{memberId}
    </select>

    <update id="updateMember">
        update member
        <set>

            <!-- 공백 또는 NULL이 아닌 필드만 갱신 -->

            <if test="username != null and username != ''">
                username = #{username},
            </if>

            <if test="password != null and password != ''">
                password = #{password},
            </if>

            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>

            <if test="email != null and email != ''">
                email = #{email}
            </if>

        </set>
        where member_id = #{memberId}
    </update>

    <delete id="deleteMember">
        delete
        from member
        where member.member_id = #{memberId}
    </delete>

</mapper>