<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opus.member.mapper.MemberMapper">

    <insert id="insertMember">
        insert into member (id, pw, nick, email) values (#{userName}, #{password}, #{nickname}, #{email})
    </insert>

    <select id="selectCountByUserName" resultType="int">
        select count(*) from member where id=#{userName}
    </select>

    <select id="selectCountByNickname" resultType="int">
        select count(*) from member where nick=#{nickname}
    </select>

    <select id="selectCountByEmail" resultType="int">
        select count(*) from member where email=#{email}
    </select>

    <select id="selectMemberByMemberId"  resultMap="myMemberVO">
        select id, nick, email from member where member.m_id=#{memberId}
    </select>

    <update id="updateMember">
        update member set id=#{userName}, pw=#{password}, nick=#{nickname}, email=#{email} where member.m_id=#{memberId}
    </update>

    <delete id="deleteMember">
        delete from member where member.m_id=#{memberId}
    </delete>

    <resultMap id="myMemberVO" type="com.opus.member.domain.MemberVO">
        <result property="userName" column="id"/>
        <result property="nickname" column="nick"/>
        <result property="email" column="email"/>
    </resultMap>

</mapper>