<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opus.member.mapper.MemberMapper">

    <insert id="saveMember">
        insert into member (id, pw, nick, email) values (#{userId}, #{pw}, #{nickname}, #{email})
    </insert>

    <select id="checkDuplicateId" resultType="int">
        select count(*) from member where id=#{userId}
    </select>

    <select id="checkDuplicateNickname" resultType="int">
        select count(*) from member where nick=#{nickname}
    </select>

    <select id="checkDuplicateEmail" resultType="int">
        select count(*) from member where email=#{email}
    </select>

    <select id="login" resultMap="myMemberVO">
        select member.m_id, pw from member where id=#{uesrId}
    </select>

    <select id="findByMemberId"  resultMap="myMemberVO">
        select id, pw, nick, email from member where member.m_id=#{memberId}
    </select>

    <select id="findByUserId" resultMap="myMember">
        select * from member where id=#{userId}
    </select>

    <update id="updateMember">
        update member set id=#{userId}, pw=#{pw}, nick=#{nickname}, email=#{email} where member.m_id=#{memberId}
    </update>

    <delete id="deleteMember">
        delete from member where member.m_id=#{memberId}
    </delete>

    <resultMap id="myMember" type="com.opus.member.domain.Member">
        <id property="memberId" column="m_id"/>
        <result property="userId" column="id"/>
        <result property="pw" column="pw"/>
        <result property="nickname" column="nick"/>
        <result property="email" column="email"/>
    </resultMap>

    <resultMap id="myMemberVO" type="com.opus.member.domain.MemberVO">
        <result property="userId" column="id"/>
        <result property="nickname" column="nick"/>
        <result property="email" column="email"/>
    </resultMap>

</mapper>