<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opus.pin.mapper.PinMapper">

    <insert id="savePin">
        insert into pins (pins.m_id, tag, img_path, width, height, seed, n_tag)
        values (#{mId}, #{tag}, #{imagePath}, #{width}, #{height}, #{seed}, #{nTag})
    </insert>

    <select id="pinList" resultMap = "pinList">
        select *
        from pins
        order by pins.p_id desc limit #{amount} offset #{offset}
    </select>

    <select id="pinListById" resultMap = "pinList">
        select *
        from pins
        where pins.m_id = #{mId}
        order by p_id desc limit #{amount} offset #{offset}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*)
        from pins
    </select>

    <update id="updatePin">
        update pins
        set tag=#{tag},
            img_path=#{imagePath}
        where p_id = #{pId} and pins.m_id = #{mId}
    </update>

    <delete id="deletePin">
        delete
        from pins
        where p_id = #{pid} and pins.m_id = #{mid}
    </delete>

    <resultMap id="pinList" type="com.opus.pin.domain.Pin">
        <id property="pId" column="p_id"/>
        <result property="mId" column="m_id"/>
        <result property="tag" column="tag"/>
        <result property="imagePath" column="img_path"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="seed" column="seed"/>
        <result property="nTag" column="n_tag"/>
    </resultMap>

</mapper>