<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opus.feature.auth.mapper.RefreshTokenMapper">

    <insert id="insertRefreshToken">
        insert into tokens
            (r_key, r_value)
        values (#{key}, #{value})
    </insert>

    <select id="selectRefreshTokenByToken" resultType="com.opus.feature.auth.domain.RefreshTokenVO">
        select r_key as "key", r_value as "value"
        from tokens
        where r_value = #{value}
    </select>

    <delete id="deleteRefreshToken">
        delete
        from tokens
        where r_key = #{key}
    </delete>

</mapper>