<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opus.member.mapper.RefreshTokenMapper">

    <insert id="save">
        insert into TOKENS
            (r_key, r_value)
        values
            (#{key}, #{value})
    </insert>

    <select id="findByKey" resultType="com.opus.member.domain.RefreshToken">
        select r_key as "key", r_value as "value" from TOKENS where r_key=#{key}
    </select>

    <update id="update">
        update TOKENS set r_value=#{value} where r_key=#{key}
    </update>

    <delete id="delete">
        delete from TOKENS where r_key=#{key}
    </delete>

</mapper>